<h1>ABOUT</h1>
<p> OpenSarkar is a web app which allows you to enter your queries, complaints or problems towards the government and post it publicly on our site. You can even provide some feasible suggestions for the governmental body which you think would be appropriate to implement. </p>

<p>We allow open access to everyone for the posts (complaints & suggestions) but a login is required to post a new item or comment on the existing one.</p>

<p>We address each one of your problems and sort out the similar ones using opinion mining and cosine similarity to minimize data redundancy. So, each of your registered complaints/suggestions may not be posted. However, you can view the similar ones in their respective sections. You can also view the replies by the governmental body 'Sarkar'.</p>