<p id="notice"><%= notice %></p>

<p>
  <strong>Reply:</strong>
  <%= @sarkarreply.reply %>
</p>

<%= link_to 'Edit', edit_sarkarreply_path(@sarkarreply) %> |
<%= link_to 'Back', sarkarreplies_path %>
